<ion-view>
    <ion-content>
        <form>
    		<div class="list list-inset">
                <p>Please enter your Email & New Password</p>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Email</span>
                    <input type="email" name="email" 
                        ng-model="passwordModel.email" 
                            placeholder="email@email.com">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">New Password</span>
                    <input type="password" name="password" 
                        ng-model="passwordModel.password" 
                            placeholder="new password">
                </label>
                <p>{{registerModel}}</p>

                <button type="submit" ng-click="updatePassword()" 
                    class="button button-block button-balanced">Update</button>
			</div>  
        </form>
    </ion-content>
</ion-view>