<ion-view>
    <ion-content>
        <form name="informationForm" novalidate>
    		<div class="list list-inset">

                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input type="text" name="firstName" 
                        ng-model="informationModel.firstName" ng-required="true" 
                            placeholder="Your First Name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Middle Name</span>
                    <input type="text" name="middleName" 
                        ng-model="informationModel.middleName" ng-required="true"
                            placeholder="Your Middle Name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input type="text" name="lastName" 
                        ng-model="informationModel.lastName" ng-required="true"
                            placeholder="Your Last Name">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Age</span>
                    <input type="number" name="age" 
                        ng-model="informationModel.age" ng-required="true"
                            placeholder="#">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Astrologcial/Zodiac Sign</span>
                    <input type="text" name="zodiacSign" 
                        ng-model="informationModel.zodiacSign" ng-required="true"
                            placeholder="Sign">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Whats your ethnicity?</span>
                    <input type="text" name="ethnicity" 
                        ng-model="informationModel.ethnicity" 
                            placeholder="University">
                </label>
                <p ng-show="informationForm.ethnicity.$untouched">
                    You may leave blank if you wish
                </p>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Whats your Occupation?</span>
                    <input type="text" name="occupation" 
                        ng-model="informationModel.occupation" ng-required="true"
                            placeholder="Occupation">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Whos your employer?</span>
                    <input type="text" name="employer" 
                        ng-model="informationModel.employer" ng-required="true"
                            placeholder="employer">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Where did you attend University?</span>
                    <input type="text" name="university" 
                        ng-model="informationModel.university" ng-required="true"
                            placeholder="University">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">What was your major?</span>
                    <input type="text" name="major" 
                        ng-model="informationModel.major" ng-required="true"
                            placeholder="University">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Please tell us more about yourself, don't be shy!!</span>
                    <textarea name="description" 
                        ng-model="informationModel.description" ng-required="true"
                            placeholder="Description"></textarea>
                </label>

                <button type="submit" ng-click="updateInformationAndLocation()"
                    class="button button-block button-balanced">Submit
                </button>
			</div>  
        </form>
    </ion-content>
</ion-view>